* {
	margin: 0;
	padding: 0; 
}

body {
    font-family: 'Montserrat', sans-serif;
}

.register{
    padding-bottom: 140px;
}

.registerTitle{
    background-color: #FEFAE0;
}

.haveLogin{
display: flex;
justify-content: right;
margin-right: 10%;
}

.haveLogin a{
    text-decoration: none;
    color: black;
}

.cadastro{
display: flex;
justify-content: space-around;
}

.cadastro button{
    width: 9em;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    width: 35%;
}
.cadastro input{
    border-radius: 60px;
    padding-left: 1em;
    border: none;
}
.eyeIcon{
    width: 20px;
}
label{
    color: #D4A373;
}
span{
    color: #D4A373;
}

.goToLogin{
    color:#D4A373;
}
.goToLogin:hover{
    color: #CCD5AE;
}